body{
    background-color: black;
    color: cyan;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    min-height: 100vh;
    margin: 0;
}

button{
    border-radius: 20%;
    font-size: 16px;
    background-color: darkslategrey;
    color: cyan;
}
.drawing-pad{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    border: 2px cyan solid;
    width: 600px;
    border-radius: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-self: flex-start;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}
.container{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 380px;
    align-items: stretch;
    justify-items: stretch;
}

.flex-row{
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    justify-items: stretch;
    justify-content: stretch;
}


.square-div{
    background-color: white;
    margin: 0;
    width: 20px;
}

.border{
    outline: 1px solid black;
}

.footer, .header{
    background-color: darkcyan;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

p{
    margin: 10px;
}


.toggle-on{
    background-color: cyan;
    color: darkslategray;
}


.footer{
    margin-top: auto ;
}